* {
  box-sizing: border-box;
  
}

.bg-login {
  background-image: url(./assets/pregrado.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
}

.img-logo {
  width: 170px;
  border-radius: 50%;
}

